{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h2>Comment ça va-t-il, Missiou li couisinier ?</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem optio possimus numquam temporibus hic, excepturi natus expedita beatae velit eveniet eos dolore alias quasi vitae adipisci dolorem a quam repellat?</p>
{% endblock %}
