{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<h2>Contactez nous</h2>

<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, aut temporibus, accusamus recusandae dicta magni maxime dolore iure itaque dolor ad sed in, nemo alias aspernatur voluptatum quibusdam placeat id?</p>
{% endblock %}
