{% extends 'base.html.twig' %}

{% block title %}New Recipes{% endblock %}

{% block body %}
<div class="col-lg-6 container">
    <h1>Créer une nouvelle recette</h1>
    {{ include('recipes/_form.html.twig') }}
     <button class="btn btn-success"><a href="{{ path('recipes_index') }}">Retour</a></button>
    </div>
{% endblock %}
